.username{
    margin-bottom: 30px;
    margin-left: 120px;
}

.password{
    margin-bottom: 30px;
    margin-left: 120px;
}

.icon{
    margin-bottom: 30px;
}

.all{
    margin-top: 200px;
    margin-left: 400px;
    width: 400px;
    height:400px;

}