<div class="all">
    <div class = "icon">
        <img src="../assets/immigrationService.PNG" alt="">
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
        <div class="username">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText formControlName="username"> 
                <label for="float-input">ユーザー名</label>
            </span>
            </div>
            <div class="password">
             <span class="p-float-label">
                 <input id="float-input" type="text" pInputText formControlName="password"> 
                 <label for="float-input">パスワード</label>
             </span>
            </div>
            <p>
                <button type="submit">submit</button>
            </p>
    </form>
    {{username1}}
</div>