<div class="all">
    <div class = "icon">
        <img src="../assets/immigrationService.PNG" alt="">
    </div>
    <div class="username">
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText [formControl]="username"> 
        <label for="float-input">ユーザー名</label>
    </span>
    </div>
    <div class="password">
     <span class="p-float-label">
         <input id="float-input" type="text" pInputText [formControl]="username"> 
         <label for="float-input">パスワード</label>
     </span>
    </div>
</div>